{% extends 'base.html.twig' %}

{% block title %}Hello Dsi!
{% endblock %}

{% block body %}


	<h1>Hello
		{{ controller_name }}!
	</h1>
	<h3>Page d'accueil</h3>

	<p>Ici vous pouvez consulter, créer, mettre à jour et supprimer les serveurs, les logiciels installées et leur versions</p>
	<p>Ullam iste animi repellat corporis ut dolores itaque autem commodi quia veniam neque quaerat, sapiente vero totam voluptate tenetur maxime!</p>


{% endblock %}
