{% extends 'base.html.twig' %}

{% block title %}Hello Dsi!
{% endblock %}

{% block body %}


	<h1>Hello
		{{ controller_name }}!
	</h1>
	<h3>Page d'accueil</h3>
	<p>Liste de serveurs</p>


{% endblock %}
